.enroll-form, .edit-form {
    display: table;
    margin: 3em 0 0 2em;
    padding-right: 2em;
}

.enroll-p, .edit-p {
    display: table-row;
}

.enroll-label, .edit-label {
    display: table-cell;
    width: 43%;
    font-weight: 600;
}

.enroll-input, .edit-input {
    display: table-cell;
    width: 150%;
}

.enroll-button {
    width: 10em;
}

.edit-button, .edit-a {
    display: table-cell;
    width: 12em;
}

.edit-a {
    width: 40%;
}

.id {
    font-weight: 700;
    font-size: 1.5em;
}

.nav-link {
    font-weight: 500;
    margin: 0 .5em;
    padding: 1.6em 1.2em;
}

.logo-img {
    max-height: 3em;
    max-width: 3em;
    border-radius: 75%;
    transition: box-shadow .5s;
    margin: .5em 1em;
}

.logo-img:hover, .logo-img:active {
     box-shadow: 0 0 10px 5px #eaebfa;
}

.index-bg {
    background: url("../img/index-2.jpg") no-repeat center;
    background-size: cover;
    color: black;
    float: none;
}

.index-p {
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
    color: #dbfcf9;
}

.index-description-div {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/Background-side.png") no-repeat  center  center fixed;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 10em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.index-description {
    text-align: center;
    margin-bottom: 1.5em;
}

.index-description > h3 {
    text-decoration: #555555 underline;
    color: #184e77;
    font-weight: 400;
}

.index-description > p {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 2.5em;
}

.index-body {
    display: flex;
    flex-direction: column;
}

.waiting-for {
    font-size: 1.25em;
    font-weight: 500;
    font-style: italic;
}

.index-button {
    width: 25%;
    align-self: center;
}

.index-p, .index-h {
    text-shadow: 2px 2px #474747;
}

.index-h {
    color: #ffffff;
}

p {
    color: #168aad;
}

h1, h2, h3 {
    color: #354f52;
}

.enroll-main {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.enroll-card {
    border: 2px solid #354f52;
    margin-top: 1em;
    border-radius: 2em;
    transform: rotate(5deg) ;
}

.enroll-card > img {
    border-radius: 2em 2em 0 0;
}

.enroll-div-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: auto;
    height: 800px;
    max-width: 50%;
}

#carouselExampleInterval {
    margin-top: 5em;
    max-height: 700px;
}

.enroll-card:active, .enroll-card:hover {
    transform: scale(1.2, 1.2);
    outline: none;
    border: .25em solid #6ec3ff;
    box-shadow: 0 20px 30px #72baf1;
    text-shadow: 0 0 20px #38fff8, 0 0 30px #1aafff, 0 0 40px #0eaefd, 0 0 50px #0a7af1, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

.enroll-h {
    margin-left: 3.5em;
    margin-top: .25em;
    font-style: italic;
}

.enroll-div-cards > a {
    text-decoration: none;
    color: #267c92;
}

.dog-list-div-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.dog-card {
    border: 2px solid #3B666B;
    padding-right: 0;
    padding-left: 0;
    border-radius: 2em;
    text-align: center;
    transition: box-shadow .25s, transform .3s;
}

.dog-card:hover {
    transform: scale(1.1, 1.1);
    text-decoration: none !important;
    box-shadow: 0 10px 20px #72baf1;
}

.dog-card:active, .dog-card:focus {
    transform: scale(.9, .9);
    text-decoration: none !important;

}

.card-img-top {
    min-height: 16rem;
    max-height: 16rem;
    object-fit: cover
}

.dog-img {
    border-radius: 2em 2em 0 0;
}

.dog-title {
    text-decoration: white underline;
    color: #3B666B;
    font-weight: 600;
}

.trainer-list-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.trainer-div {
    min-height: 15em;
}

.trainer-h {
    color: #3B666B;
    text-decoration: none;
    align-self: center;
    font-weight: 500;
}

.trainer-dog-link {
    text-decoration: none;
    color: #37575b;
    font-size: 1.75em;
    font-weight: 500;
}

.trainer-div > div > h6 {
    margin-left: 1em;
}

.trainer-dog-list {
    margin-left: 1.5em;
}

.dog-profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)) no-repeat  center  center fixed;
}

.dog-profile-div {
    align-self: center;
    min-width: 60%;
}

.dog-profile-img {
    min-width: 80%;
    align-self: center;
    margin: auto;
    display: block;
    border: .4rem solid #3B666B;
}

.dog-profile-info-div {
    margin-top: 2em;
    font-size: 1.6rem;
}

.dog-profile-table-col {
    width: 15rem;
}

td:nth-child(1) {
    font-weight: 700;
}

.dog-profile-table {
    color: #3B666B;
    font-weight: 400;
}


.dog-profile-button {
    margin-top: 2rem;
    width: 15rem;
    padding: 1rem 0;
}

.edit-medical-textarea {
    width: 30%;
    align-self: center;
    margin: auto;
    display: block;
}

.edit-medical-button {
    width: 12rem;
    margin: 2rem 2rem;
}

#enroll-div-dogs {
    margin-left: 10rem;
}

.dog-profile-a {
    display: inline;
}

.dog-profile-a:first-child {
    margin-right: 2.5rem;
}

.trainer-profile-div {
    display: flex;
    justify-content: space-evenly;
}

.trainer-profile-dog-card {
    width: 30rem;
    min-height: 15rem;
    padding: 0;
    border: .35em solid #3B666B;
    border-radius: 2rem;
}

.trainer-profile-dog-img {
    min-height: 25rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

.accordion-head {
    color: #3B666B;
    font-weight: 600;
}

.trainer-label {
    color: #3B666B;
    font-weight: 500;
}

.trainer-profile-a {
    display: inline;
    margin: 10em 2em;
}

.welcome-h {
    font-weight: 500;
    width: 70%;
    align-self: center;
    margin: auto;
    display: block;
    padding-top: 5rem;
}

.welcome-p {
    padding: 5rem 0;
}