{% extends 'base.html' %}
{% block title %}{{ dog.name }}'s Profile{% endblock %}

{% block content %}
<h1>{{ dog.name }}</h1>
{% if dog.pic %}
<img src="{{ dog.pic }}" alt="">
{% else %}
<br><p>No Picture</p>
{% endif %}
<ul>
  {% if dog.breed %}
  <li>Breed: {{ dog.breed }}</li>
  {% else %}
  <li>No breed info available</li>
  {% endif %}
  <li>Age: {{ dog.age }}</li>
  <li>Owner: {{ dog.owner }}</li>
  <li>ID Number: {{ dog.id }}</li>
  <li>Favorite Treat: {{ dog.treats }} </li>
  <li>Trainer: <a href="{{ url_for('trainer_profile', trainer=dog.trainer) }}">{{ dog.trainer }}</a></li>
  <li>Known Tricks: {{ dog.tricks }} </li>
</ul>
<form action="{{ url_for('modify',dog_name=dog.name, dog_id=dog.id) }}" method="post">
  <input class="btn btn-secondary" type="submit" value="Edit" name="action">
  <input class="btn btn-danger" type="submit" value="Delete" name="action">
</form>
<br><br>
<h3>Medical Record</h3>
<div>{{ dog.medical }}</div><br>
<form action="{{ url_for('modify_medical', dog_id=dog.id) }}" method="post">
    <input class="btn btn-primary" type="submit" value="Edit Record" name="action">
</form>
{% endblock %}
