{% extends 'base.html' %}
{% block title %}Enrolled Dogs{% endblock %}
{% block content %}
<h1 class="display-3 m-4 fw-normal text-center">Enrolled Dogs</h1>

<div class="container-fluid dog-list-div">

  <div class="row dog-list-div-cards">

    {% for dog in dogs %}

    <div class="card col-sm-6 col-md-4 m-4 dog-card" style="width: 18rem;">
      <a href="{{ url_for('dog_profile', dog_id=dog.id) }}" class="dod-title">
      <img src="{{ dog.pic }}" class="card-img-top dog-img" alt="...">
      <div class="card-body">
        <h5 class="card-title display-6 dog-title">{{ dog.name }}</h5>
        {% if dog['breed']|lower == 'none' %}
        <h6 class="card-subtitle mb-2 text-muted lead fw-normal dog-title">N/A</h6>
        {% else %}
        <h6 class="card-subtitle mb-2 text-muted lead fw-normal dog-title">{{ dog.breed }}</h6>
        {% endif %}
      </div></a>
    </div>

    {% endfor %}




  </div>
</div>

{% endblock %}