{% extends 'base.html' %}
{% block title %}Edit {{ dog.name }}'s Profile{% endblock %}
{% block content %}
<h1>Current Medical Record</h1>
<p>{{ dog.medical }}</p>
<h1>Update Medical Records</h1>
<form action="{{ url_for('update_medical_records', dog_id=dog.id) }}" method="post">
  <label for="d_medical">Log New Medical Record:</label><br>
  <input type="text" name="dog_medical" id="d_medical"><br><br>
  <input class="btn btn-primary" type="submit" value="Update Record" name="action">
  <a class="btn btn-danger" href="{{ url_for('dogs', dog_id=dog.id) }}">Cancel</a>
</form>
{% endblock %}


