{% extends 'base.html' %}
{% block title %}Enroll Your Dog{% endblock %}
{% block content %}
<div class="container-fluid m-3 enroll-main">
    <div>
        <h1 class="display-6 m-1">Enroll your dog in Doggo Training School</h1>
        <hr>
        <form class="enroll-form" action="{{ url_for('process') }}" method="post">
            <p class="enroll-p">
                <label class="enroll-label" for="d_name">Name of Dog:</label>
                <input class="enroll-input form-control" type="text" name="dog_name" id="d_name" required><br><br>
            </p>
            <p class="enroll-p">
                <label class="enroll-label" for="d_breed">Breed:</label>
                <input class="enroll-input form-control" type="text" name="dog_breed" id="d_breed"><br><br>
            </p>
            <p class="enroll-p">
                <label class="enroll-label" for="d_age">Age:</label>
                <input class="enroll-input form-control" type="number" name="dog_age" id="d_age"><br><br>
            </p>
            <p class="enroll-p">
                <label class="enroll-label" for="d_medical">Medical History:   </label>
                <input class="enroll-input form-control" type="text" name="dog_medical" id="d_medical"><br><br>
            </p>
            <p class="enroll-p">
                <label class="enroll-label" for="o_name">Name of Owner:   </label>
                <input class="enroll-input form-control" type="text" name="dog_owner" id="o_name" required><br><br>
            </p>
            <p class="enroll-p">
                <label class="enroll-label" for="d_treats">Favorite Treats:</label>
                <input class="enroll-input form-control" type="text" name="dog_treats" id="d_treats"><br><br>
            </p>
            <p class="enroll-p">
                <label class="enroll-label" for="d_pic">URL for Picture:</label>
                <input class="enroll-input form-control" type="text" name="dog_pic" id="d_pic"><br><br>
            </p>
            <p class="enroll-p">
                <input type="submit" value="Register!" class="btn btn-primary enroll-button">
            </p>
        </form>
    </div>
    <div id="enroll-div-dogs">
        <h2 class="display-6 enroll-h">Our Enrolled Dogs</h2>
        <div class="enroll-div-cards">
            {% for dog in dog_4list %}
            <a href="{{ url_for('dog_profile', dog_id=dog[2]) }}" class="m-2">
                <div class="card enroll-card shadow-lg" style="width: 18rem;">

                <img src="{{ dog[1] }}" class="card-img-top" alt="{{dog[0]}}'s Picture">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">{{ dog[0] }}</h5>
                  </div>
                </div>
            </a>



            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}