{% extends 'base.html' %}

{% block title %}Doggo Training School{% endblock %}

{% block content %}
    <h2>Welcome to Doggo Training School!</h2><br><br>
    <h3>Arf! arf! arf!</h3>
    <p>The doggos are barking! It seems like someone enters the website!<br>
        Heads up! Before moving on and get trapped by the cuteness of our<br>
        doggos, read first the things below to get to know us more!</p>
    <p>This platform is the Doggo Training School's online website<br>
        for the management of school's records of enrolled doggos'<br>
        training progress and veterinary information. This also offers<br>
        online registration for owners who want to enrol their cute furry<br>
        babies over the internet.</p><br><br>
    <h4>Now, who is Doggo Training School?</h4><br>
    <p>Doggo Training School (DTS) is the premier training school for dogs<br>
        that offers a specialized training curriculum to equip the enrolled<br>
        dogs with right and useful skills that an emotional support and service<br>
        dog should acquire and practice.</p><br>
    <h4>But wait, there's MORE!</h4><br>
    <p>To better hone the dogs into becoming effective emotional support and<br>
        service furry babies, DTS is also equipped with the best people who<br>
        have great qualities of a trainer and who are excellently trained at<br>
        several prestigious schools in the field.</p><br>
    <h4>So what are you waiting for? Enrol your doggos now and be part of our school!</h4>
{% endblock %}