{% extends 'base.html' %}
{% block title %}Our Trainers{% endblock %}
{% block content %}
<h1 class="display-3 fw-normal m-4">Trainers</h1>
<div class="container-fluid">
    <br>
    <div class="row trainer-list-main">
    {% for trainer in trainers%}

            <div class="col-md-3 col-l-4 m-3 trainer-div">
                <h3><a href="{{ url_for('trainer_profile', trainer=trainer) }}" class="display-4 trainer-h">{{ trainer }}</a></h3>
                <hr>
                <div>
                    <h6 class="lead text-muted fw-normal">Currently Training:</h6>
                    <ul>
                    {% for dog in dogs %}
                        {% if dog.trainer == trainer %}
                            <li class="trainer-dog-list"><a href="{{ url_for('dog_profile', dog_id=dog.id) }}" class="trainer-dog-link">{{ dog.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
    {% endfor %}

    </div>
</div>

{% endblock %}