{% extends 'base.html' %}
{% block title %}Our Trainers{% endblock %}
{% block content %}
<h1>Trainers</h1>
    {% for trainer in trainers%}
        <h3><a href="{{ url_for('trainer_profile', trainer=trainer.trainer) }}">{{ trainer.trainer }}</a></h3>
        <h6>Currently Training:</h6>
        <ul>
        {% for dog in dogs %}
            {% if dog.trainer == trainer.trainer %}
                <li><a href="{{ url_for('dog_profile', dog_id=dog.id) }}">{{ dog.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}