{% extends 'base.html' %}
{% block title %}{{ trainer }}{% endblock %}

{% block content %}
<h1>Dogs</h1>
{% for dog in dogs %}
  <h4>{{ dog.name }}</h4>
  {% if dogs.pic %}
  <img src="{{ dog.pic }}" alt="">
  {% else %}
  <br><p>No Picture</p>
  {% endif %}
  <ul>
    {% if dog.breed %}
    <li>Breed: {{ dog.breed }}</li>
    {% else %}
    <li>No breed info available</li>
    {% endif %}
    <li>Age: {{ dog.age }}</li>
    <li>Owner: {{dog.owner}}</li>
    <li>ID Number: {{dog.id}}</li>
    <li>Favorite Treat: {{dog.treats}}</li>
  </ul>
{% endfor %}
{% endblock %}