{% extends 'base.html' %}
{% block title %}{{ trainer }}'s Dogs{% endblock %}

{% block content %}
<h1>Dogs being Trained by {{ trainer }}</h1>
{% for dog in dogs %}
  <h4>{{ dog.name }}</h4>
  {% if dog.pic %}
  <img src="{{ dog.pic }}" alt="">
  {% else %}
  <br><p>No Picture</p>
  {% endif %}
  <ul>
    {% if dog.breed %}
    <li>Breed: {{ dog.breed }}</li>
    {% else %}
    <li>No breed info available</li>
    {% endif %}
    <li>Age: {{ dog.age }}</li>
    <li>Owner: {{ dog.owner }}</li>
    <li>ID Number: {{ dog.id }}</li>
    <li>Favorite Treat: {{ dog.treats }}</li>
    <li>Tricks: {{ dog.tricks }}</li>
  </ul>
<form action="{{ url_for('update_tricks', dog_id=dog.id) }}" method="post">
  <label for="d_tricks">Log New Tricks:</label>
  <input type="text" name="dog_tricks" id="d_tricks"><br><br>
  <input class="btn btn-primary" type="submit" value="Update Tricks" name="action">
</form>
<br><br>
{% endfor %}
{% endblock %}